        * {
            font-family: 'Varela Round', sans-serif;
        }

        body {
            margin: 0px;
        }

        .header {
            background-color: #FFB0BD;
            font-size: 13px;
            text-align: right;

            padding: 10px;
            padding-right: 200px;
        }

        .header span {
            font-weight: bold;
        }

        .header span a{
            text-transform: uppercase;
            color: #8a4762;
            text-decoration: none;
            font-weight: inherit;
        }

        .header span:hover a {
            color: #E5647D
        }

        .mx-3 {
            margin-right: 3em;
            margin-left: 3em;
            background-color: red;
        }

        .px-3 {
            padding-right: 3em;
            background-color: red;
            padding-left: 3em;
        }